@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

 * {
   font-family: "Roboto", sans-serif;
   background-color: #1c262d;
 }

 .incenter {
   position: relative;
   text-transform: capitalize;
   text-align: center;
   margin: auto;
}

.white {
    color: #FFFFFF;
    font-size: 20px;
}

.bold_text {
    font-weight: bold;
}
pre {
    border-radius: 8px;
    padding: 15px;
    overflow-x: auto;
}

.box-terminal {
   position: static;
   top: 0;
   z-index: 1;
   border:2px solid #f3efef;
   padding: 10px;
}

.myEmail {
  position: relative;
  text-align: center;
  color: #FFFFFF;
  font-size: 25px;
}
