@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');


body {
    font-family: "Roboto", sans-serif;
    background-color: #9eaeca;
    text-align: center;
    margin-top: 80px;
    color: #333;
}
h2 {
    color: #2b4c7e;
}
form {
    background-color: #fff;
    padding: 25px;
    margin: auto;
    width: 320px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
input[type="number"] {
    width: 90%;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    padding: 10px 20px;
    background-color: #2b4c7e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #1e3555;
}
.result {
    background-color: #fff;
    padding: 20px;
    margin: 30px auto;
    width: 95%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th {
    background-color: #2b4c7e;
    color: white;
    text-align: left;
}
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}
